

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->


    <style>

    /*
     * Base structure
     */

    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
      padding-top: 50px;
    }

    /*
     * Typography
     */

    h1 {
      margin-bottom: 20px;
      padding-bottom: 9px;
      border-bottom: 1px solid #eee;
    }

    /*
     * Sidebar
     */

    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      border-right: 1px solid #eee;
    }

    /* Sidebar navigation */
    .sidebar {
      padding-left: 0;
      padding-right: 0;
    }

    .sidebar .nav {
      margin-bottom: 20px;
    }

    .sidebar .nav-item {
      width: 100%;
    }

    .sidebar .nav-item + .nav-item {
      margin-left: 0;
    }

    .sidebar .nav-link {
      border-radius: 0;
    }

    /*
     * Dashboard
     */

     /* Placeholders */
    .placeholders {
      padding-bottom: 3rem;
    }

    .placeholder img {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }


    </style>
     <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

</head>
<script type="text/javascript">
window.onload=function(){
   var tc1 = {
   y: [75.8,75.7,75.8,76,76.1,76.3,76.6,76.8,77.1,77.5,77.8,78.2,78.6],
   x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
   type: 'scatter',
   name:'TC1'
   };

   var tc2 = {
   y: [76.3,76.2,76.1,76.3,76.3,76.3,76.5,76.6,76.7,76.8,77,77.2],
   x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
   type: 'scatter',
   name:'TC2'
   };

   var tc3 = {
   y: [76.1,76,76.1,76.4,76.6,76.9,77.1,77.5,77.8,78.1,78.5,78.8],
   x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
   type: 'scatter',
   name:'TC3'
   };

   var tc4= {
   y: [75.6,75.4,75.4,75.4,75.4,75.5,75.7,75.7,75.8,76,76.2,76.4],
   x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
   type: 'scatter',
   name:'TC4'
   };

   var tc5= {
   y: [77.1,77.1,77.2,77.4,77.5,77.6,77.8,78,78.3,78.4,78.7,79],
   x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
   type: 'scatter',
   name:'TC5'
   };

   var v1={
   y: [-14.2,-14.2,-14.1,-14.1,-14.1,-14,-14.1,-14.1,-14.1,-14,-14.1,-14],
   x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
   type: 'scatter',
   name:'v1'

  }

  var v2={
  y: [-13.8,-13.8,-13.8,-13.8,-13.8,-13.8,-13.8,-13.8,-13.8,-13.7,-13.7,-13.7],
  x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
  type: 'scatter',
  name:'v2'

 }

 var v3={
 y: [-14.1,-14.1,-14.1,-14,-14,-14,-14,-13.9,-13.9,-13.8,-13.8,-13.8],
 x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
 type: 'scatter',
 name:'v3'

}

var avgt={
  y:[76.08,76.12,76.3,76.38,76.52,76.74,76.92,77.14,77.36,77.64,77.92,78.24],
  x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
  type: 'scatter',
  name:'AvgTemp'

}

var pert={
  y:[78.8,79.6,80.4,81.3,82,82.6,83.4,84,84.7,85.4,86,86.6,87.4],
  x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],
  type: 'scatter',
  name:'PerfectTemp'

}
x=[17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07];
console.log(x);
var avgp={
  y:[-14.03333333,-14.03333333,-14,-13.96666667,-13.96666667,-13.93333333,-13.96666667,-13.93333333,-13.93333333,-13.83333333,-13.86666667,-13.83333333,-13.83333333],
  x: [17.55,17.56,17.57,17.58,17.59,18.00,18.01,18.02,18.03,18.04,18.05,18.06,18.07],

  type: 'scatter',
  name:'AveragePressure'
}


   var data = [tc1, tc2,tc3,tc4,tc5];

   Plotly.newPlot('mydiv2', data);
   ls=[];
   <%date.forEach(function(dt){%>
      var l='<%=dt%>';
      ls.push(l);
   <%})%>
   ls2=[];
   var names=[]
   var values=[]
   <%rec.forEach(function(rc){%>
      names.push('<%=rc.name%>');
      values.push([<%=rc.value%>]);
      //console.log([<%=rc.value%>]);
   <%})%>
   var counter=names.length;
   if(names[31].includes("V")){
      console.log(counter);
      console.log("Pressure");
   }
   var temperature=[]
   var pressure=[]
   for(i=0;i<counter;i++)
   {
     if(names[i].includes("TC"))
     {
        var temp={
          x:ls,
          y:values[i],
          type:'scatter',
          name:names[i]
        }
        temperature.push(temp);
     }
     else{

       var temp2={
         x:ls,
         y:values[i],
         type:'scatter',
         name:names[i]
       }
       pressure.push(temp2);
     }

   }
   console.log(names[0]);
   console.log(values)
   var trace4 = {
    x: ls,
    y: values[0],
    type: 'scatter',
    name:'TC1'
  }

var trace5 =
{
 x: ls,
 y: values[1],
 type: 'scatter',
 name:'TC2'
}
var data2=[];
data2.push(trace4);
data2.push(trace5);

   var data5 = [
  {
    x: ['2013-10-04 22:23:00', '2013-11-04 22:23:00', '2013-12-04 22:23:00'],
    y: [1, 3, 6],
    type: 'scatter'
  }
];
console.log(data5);
console.log(trace4);
console.log(trace5);
x1=['2013-10-04 22:23:00', '2013-11-04 22:23:00', '2013-12-04 22:23:00'];
console.log(x1);
   console.log(data2);
   var data3=[avgt,pert];
   console.log(data3);
   var data4=[avgp]

   Plotly.newPlot('mydiv3', temperature);
   Plotly.newPlot('mydiv4',pressure);
   Plotly.newPlot('mydiv5',data4)
}
</script>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
          </li>
        </ul>
      </nav>

      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Dashboard</h1>


        <section class="row text-center placeholders">
          <div class="col-6 col-md-6 placeholder">
              <div id ="mydiv2"></div>
          </div>
          <div class="col-6 col-md-6 placeholder">
              <div id ="mydiv3"></div>
          </div>
        </section>

        <section class="row text-center placeholders">
          <div class="col-6 col-md-6 placeholder">
              <div id ="mydiv4"></div>
          </div>
          <div class="col-6 col-md-6 placeholder">
              <div id ="mydiv5"></div>
          </div>
        </section>

        <div class="table-responsive">

        </div>
      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
